<div>
	<p>This is an email application which will have below features. Mails have become
	a prominent part of our day to day life. Most famous email service are Gmail, outlook
	yahoo and so on. it has replaced the old method of communication of sending letters
	from people lives. An internet connection is a need to use any of the email services.
	</p>
	<ol>
		<li></li>	
		<li>Deleting an Email</li>
		<li>Archiving an Email</li>
		<li>Search an Email</li>
		<li>View all the Emails in your inbox</li>
	</ol>
	<ol class="list-group list-group-numbered">
		  <li class="list-group-item d-flex justify-content-between align-items-start">
		    <div class="ms-2 me-auto">
		      <div class="fw-bold">Composing an Email</div>
		      	Express your emotions thorugh the words and send it to your loved ones
		      	by just one click
		      </div>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-start">
		    <div class="ms-2 me-auto">
		      <div class="fw-bold">Subheading</div>
		      Cras justo odio
		    </div>
		    <span class="badge bg-primary rounded-pill">14</span>
		  </li>
		  <li class="list-group-item d-flex justify-content-between align-items-start">
		    <div class="ms-2 me-auto">
		      <div class="fw-bold">Subheading</div>
		      Cras justo odio
		    </div>
		    <span class="badge bg-primary rounded-pill">14</span>
		  </li>
	</ol>
</div>
<div align="center">
  <a class="btn btn-primary"  role="button" routerLink = "emailLogin">Login</a>
</div>