<h1> Welcome to your Inbox</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Receiver Name</td>
      <td>Message</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let inbox of inboxmessage">
      <td>{{inbox.R_email}}</td>
      <td>{{inbox.Message}}</td>
      <td>{{inbox.Date}}</td>
      <td><button (click) = "deleteMessage(inbox._id)" class ="btn btn-primary">Delete</button></td>
      <td><button (click) = "archiveMessage(inbox._id)" class ="btn btn-primary">Archive</button></td>
    </tr>
  </tbody>

</table>


<div class = "card">
    <div class = "card-body">
        <form [formGroup] = "searchForm" (ngSubmit) = "searchEmail()">
        <div class ='form-group'>
          <input type = "text" class="form-control" id = "email" formControlName="email"/>
        </div>
        <div class="form-group">
            <button class = "btn btn-primary" type ="submit"> Search</button>
        </div>
      </form>
    </div>
</div>

<a routerLink = "composeEmail">Compose</a><br/>

<a routerLink = "sent">Sent</a><br/>