<h1> Welcome to your Inbox</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <td>Receiver Name</td>
      <td>Message</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let inbox of inboxmessage">
      <td>{{inbox.R_email}}</td>
      <td>{{inbox.Message}}</td>
      <td>{{inbox.Date}}</td>
      <td><button (click) = "deleteMessage(inbox._id)" class ="btn btn-primary">Delete</button></td>
      <td><a routerLink = "archive"><button (click) = "deleteMessage(inbox._id)" class ="btn btn-primary">Archive</button></a></td>
    </tr>
  </tbody>

</table>
<a routerLink = "composeEmail">Compose</a><br/>

<a routerLink = "sent">Sent</a>
<!-- <div class = "card">
    <div class = "card-body">
      <form>
        <div class ='form-group'>
          <input type = "text" class="form-control" id = "email"/>
          <button class = "btn btn-primary" type ="submit"> Search</button>
        </div>
      </form>
    </div>
</div> -->